@import url('https://fonts.googleapis.com/css?family=Lato|Schoolbell');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 100px;
}

main {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  font-family: 'Schoolbell', cursive;
  color: blueviolet;
}

bd-tabs {
  display: block;
  box-sizing: inherit;
}

.navbar {
  width: inherit;
  padding: 20px;
  border-right: 1px solid grey;
}

$menu-item-radius: 5px;

@import '../../node_modules/bulma/bulma.sass';
