@import url('https://fonts.googleapis.com/css?family=Lato|Schoolbell');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  font-family: 'Schoolbell', cursive;
  color: blueviolet;
}

.columns {
  position: absolute;
}

.menu{
  position: sticky;
  top: 0px;
}

$menu-item-radius: 5px;

@import '../../node_modules/bulma/bulma.sass';