// @import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Lato|Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Lato');

//COULEURS//

$bleu-archipicture: #30b6d1;
$bleu-archipicture-dark: rgb(25, 110, 130);

//ANIMATION//

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

header {
  grid-column: 1 / 3;
  background: $bleu-archipicture;
  color: white;
  padding: 4rem;
  text-align: center;
}

nav {
  // white-space: nowrap;
  background: $bleu-archipicture-dark;
}

nav ul {
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  // color: red;
  text-decoration: none;
}

nav ul li a.current {
  background: black;
}

main {
  padding-bottom: 40rem;
}

section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

footer {
  grid-column: 1 /3;
  background: $bleu-archipicture;
  padding: 5rem 1rem;
}

//RESPONSIVE
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}
